<configuration>
    <system.webServer>
        <security>
            <!-- Increase max allowed request size -->
            <requestFiltering>
                <requestLimits maxAllowedContentLength="209715200" /> <!-- 200MB -->
            </requestFiltering>
        </security>
        <serverRuntime uploadReadAheadSize="209715200" /> <!-- 200MB -->
    </system.webServer>
</configuration> <!-- v2 -->
